<div class="gns-chat">
  <div class="gns-chat-main">
    <div class="welcome">Bienvenid@</div>
    <div class="welcome">
      Somos un equipo experto que brinda asesoría a los clientes para tomar las
      mejores decisiones para acceder a los activos que facilitan su crecimiento
      y competitividad
    </div>
  </div>
  <div class="gns-chat-bottom">
    <div class="gns-chat-sending">
      <input matInput value="" class="gns-chat-imput" />
      <mat-icon>verified_user</mat-icon>
    </div>
    <div class="gns-chat-footer">
      <button mat-flat-button color="primary">Enviar al correo</button>
      <button mat-flat-button color="primary">Calificar</button>
    </div>
  </div>
</div>
