.gns-chat {
  overflow: auto;
  .gns-chat-main {
    .welcome {
      padding: 0.5rem;
      text-align: center;
      border-bottom: 1px solid rgb(199, 199, 199);
    }
  }
  .gns-chat-bottom {
    .gns-chat-sending {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      padding: 1rem 0;
      .gns-chat-imput {
        border: 1px solid rgb(199, 199, 199);
        padding: 5px 10px;
        margin-right: 0.5rem;
        width: -webkit-fill-available;
      }
      .delete {
        color: red;
      }
      .susses {
        color: green;
      }
    }
    .gns-chat-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
