<div class="gns">
  <div class="gns-btn-list" *ngIf="activeModule === null">
    <ng-container *ngIf="active">
      <button
        mat-mini-fab
        class="btn-module"
        [matTooltip]="item.title"
        matTooltipPosition="above"
        *ngFor="let item of modulesLists"
        (click)="changeModule(item)">
        <mat-icon>{{ item.icon }}</mat-icon>
      </button>
    </ng-container>
    <button mat-mini-fab color="primary" (click)="toggleActive()">
      <mat-icon>{{ !active ? 'add_comment' : 'cancel' }}</mat-icon>
    </button>
  </div>
  <div class="moduleContainer" *ngIf="activeModule !== null">
    <div class="header">
      <span class="iconTitle">
        <mat-icon>{{ activeModule.icon }}</mat-icon>
      </span>
      <span>{{ activeModule.title }}</span>
      <div class="actions">
        <mat-icon (click)="minimizeMod()">{{
          !minimize ? 'minimize' : 'maximize'
        }}</mat-icon>
        <mat-icon class="close" (click)="close()">close</mat-icon>
      </div>
    </div>
    <div
      class="main"
      [class.minimize]="minimize"
      [ngClass]="minimize ? 'minimize' : 'main'"
      [ngSwitch]="activeModule.module">
      <app-webchat *ngSwitchCase="modules.webchat"></app-webchat>
    </div>
  </div>
</div>
